#!/usr/bin/make -f

export DH_VERBOSE = 1

ROCM_VERSION=6.2.4
ROCM_PATH=/opt/rocm-${ROCM_VERSION}
MAKEOPTS := "-j$(shell nproc)"
TOP_DIR := $(shell pwd)
BUILD_PATH := build-rocm
DEB_INST_DIR := $(TOP_DIR)/debian/rocprofiler-register-rocm

%:
	dh $@

# CMAKE_FIND_PACKAGE_TARGETS_GLOBAL must be set to TRUE
# to enable system glog and fmt library
override_dh_auto_configure:
	cmake -S ${TOP_DIR} \
      -DCMAKE_BUILD_TYPE=Release \
      -DCMAKE_C_COMPILER=${ROCM_PATH}/bin/clang \
      -DCMAKE_CXX_COMPILER=${ROCM_PATH}/bin/clang++ \
      -DBUILD_SHARED_LIBS="OFF" \
      -DENABLE_LDCONFIG=OFF \
      -DROCPROFILER_REGISTER_BUILD_CI=1 \
      -DROCPROFILER_REGISTER_BUILD_TESTS=1 \
      -DROCPROFILER_REGISTER_BUILD_SAMPLES=1 \
      -DCMAKE_INSTALL_PREFIX=${ROCM_PATH} \
      -DROCPROFILER_REGISTER_BUILD_GLOG=OFF \
      -DROCPROFILER_REGISTER_BUILD_FMT=OFF \
      -DCMAKE_FIND_PACKAGE_TARGETS_GLOBAL=TRUE \
      -B ${BUILD_PATH}

override_dh_auto_build:
	cmake --build $(BUILD_PATH) -- ${MAKEOPTS}

override_dh_auto_install:
	DESTDIR=$(DEB_INST_DIR)/ cmake --build $(BUILD_PATH) -- ${MAKEOPTS} install

override_dh_install:
	echo "dh_install skipped"
